body {
    background-color: bisque;
    color: black;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
}

#countdown {
    font-size: 10rem;
    font-family: sans-serif;
}